.loginBox {
    background-color: rgb(204, 186, 203);
    width: auto;
    margin: 15px 0px 0px 0px;
    padding: 100px 50px;
    box-shadow: 0px 0px 5px black;
}

.RegBox {
    background-color: rgb(204, 186, 203);
    width: auto;
    margin: 15px 0px 0px 0px;
    padding: 17px 50px;
    box-shadow: 0px 0px 5px black;
}

.head {
    background-color: rgb(70, 8, 8);
    text-align: center;
    width: auto;
    margin: 0px 0px 15px 0px;
    padding: 10px 600px;
    box-shadow: 0px 0px 5px black;
}

#h {
    color: cornsilk;
}

.form {
    margin: 40px 450px 40px 450px;
    /* 80px 350px 80px 350px; */

}

.Regform {
    margin: 0px 350px 0px 350px;
}

.loginbtn {
    margin: 60px 0px 0px 0px;
}



.fetch{
    padding-top: 200px;
}