.image {
    background-image: url("../assets/1.jpg");
    width: 55%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.h {
    color: brown;
}

.container {
    margin: 15px 150px 15px 150px;
    padding: 50px 50px;
    display: flex;
    height: 100vh;
    width: auto;
    background-color: rgb(255, 252, 236);
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    color: rgb(37, 33, 33);
}

.element {
    margin-left: 24px;
    text-align: center;
    width: 40%;
}